.our-gallery {
  font-family: 'Kaisei Opti', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 89px 154px;
    background: url("/src/assets/pat-image.png"), #B1464A;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    gap: 65px;
}

.device-images {
    max-width: 1078px;
    display: flex;
    align-items: center;
    justify-items: center;
}

.section-title {
    font-size: 64px;
}

@media only screen and (max-width: 812px) {
    /* .device-images {
       margin: 0px;
       width: 235px;
    } */
    .our-gallery {
      padding: 75px 100px;
    }
    .section-title {
      font-size: 20px;
      scale: 70%;
    }
    .text-title {
      display: flex;
      align-items: center;
      justify-items: center;
    }
  }

@media only screen and (max-width: 679px) {
    .our-gallery {
      padding: 45px 56px;
    }
  }
