.our-gallery {
    font-family: 'Kaisei Opti', sans-serif;
    display: flex;
    flex-direction: column;
    padding: 4rem 5rem;
    background: url("/src/assets/pat-image.png"), #B1464A;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    gap: 7rem;
}

.device-images {
    max-width: 80%;
    align-self: center;
}

.section-title {
    font-size: 4rem;
}

@media (max-width:1024px) {
    .section-title {
        font-size: 3rem;
    }
}

@media (max-width: 768px) {
    .section-title {
        font-size: 2rem;
    }
    .device-images {
        max-width: 100%;
    }
    .our-gallery {
        gap: 3rem;
        padding: 4rem 4rem;
    }
}

@media (max-width: 480px) {
    .section-title {
        font-size: 1.5rem;
    }
    .device-images {
        max-width: 100%;
    }
    .our-gallery {
        gap: 1rem;
        padding: 4rem 3rem;
    }
}