#inputimage label {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #000000;
}

.imgdrop-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F9FAFB;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-radius: 20px;
}

.imgdrop {
    width: 550;
    height: 250;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.droptext {
    color: #787878;
}

.filename {
    color: #ABABAB;
    background-color: #F9FAFB;
    border: 1px solid #D1D5DB;
    border-radius: 10px;
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    padding-left: 1rem;
}

.previewimg {
    margin-bottom: 0.5rem;
    border-radius: 5px;
    object-fit: cover;
}

.btn-change {
    position: relative;
    padding-right: 3.5rem;
    padding-left: 3.5rem;
}