.page-title {
    font-family: "Rubik";
}

.text-info {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.text-title {
    color: black;
    font-size: 32px;
    line-height: 20px;
    margin-bottom: 2px;
    text-align: left;
}