.add-product-button {
    font-family: Rubik;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 12px;
    
    width: 200px;
    height: 44px;
    
    background: #F46161;
    border-radius: 8px;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
  }
  
  .add-product-button:hover {
    background: #E34343;
  }
  
  .add-product-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px #F46161;
  }
  
  .add-product-button:active {
    background: #D63838;
  }
  