.dashboard-card {
    font-family: "Rubik";
}

.text-info {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.text-title {
    color: #646464;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 2px;
    text-align: left;
}

.text-info h4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: black;
    font-family: "Rubik"
}

.amount-growth {
    font-size: 12px;
    line-height: 20px;
    margin-top: -10px;
}

.icon-style {
    width: 20px;
    margin-bottom: 26px;
}

.card-wrap {
    border-radius: 16px;
    width: 100%;
}

@media only screen and (max-width: 1280px) {
    .text-info h4 {
        font-weight: 500;
        font-size: 16px;
        color: black;
        font-family: "Rubik"
    }
    .text-title {
        font-size: 12px;
        margin: 0;
    }
    .amount-growth {
        font-size: 10px;
        line-height: 16px;
    }
    .icon-style {
        margin-bottom: 20px;
    }
}