.text-info {
    font-family: "Rubik";
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.text-title {
    color: #646464;
    font-family: "Rubik";
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 2px;
    text-align: left;
}

.text-info h4 {
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: black;
    font-family: "Rubik"
}

.amount-growth {
    font-family: "Rubik";
    font-size: 12px;
    line-height: 20px;
    margin-top: -10px;
}

.icon-style {
    width: 20px;
    margin-bottom: 26px;
}

.card-wrap {
    border-radius: 16px;
    max-width: 250px;
}