td {
    font-family: Rubik;
}

th {
    font-family: Rubik;
}

.header-style {
    font-size: 18px;
    font-weight: 500;
}


.btn.detail {
    background-color: transparent;
  }
  
@media only screen and (max-width: 700px) {
    .scroll-table {
        margin: 4px, 4px;
        padding: 4px;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
    }
    .input-pagination {
        width: 75px;
    }
    .show-data {
        width: 100%;
    }
  }