td {
    font-family: Rubik;
}

th {
    font-family: Rubik;
}

.header-style {
    font-size: 18px;
    font-weight: 500;
}

.pagination {
    /* position: absolute; */
    position: relative;
    bottom: 0;
}

.delete-confirm-modal {
    .modal-backdrop[data-backdrop="static"] {display: none;}
}

/* .number-wrapper {
    
} */
