.hero-left {
    background-color: #B1464A;
}

.hero-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heroimg img {
    max-width: 100%;
}

.heroimg {
    margin-top: 7rem;
}

.herobody {
    margin-top: 10rem;
    margin-right: 7rem;
    margin-left: 10rem;
    margin-bottom: 3rem;
}

.herobody h1 {
    color: black;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.herobody p {
    font-weight: 500;
    margin-bottom: 2rem;
}

.herobody button {
    color: white;
    background-color: #380404;
    font-size: 1.5rem;
    padding: 1rem;
    padding-right: 2rem;
    padding-left: 2rem;
    border-radius: 40px;
}

.herofooter {
    background-color: #FFF0DE;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.happyclient h1 {
    font-size: 7rem;
    font-weight: 700;
}

.happyclient p {
    font-size: 2.5rem;
    font-weight: 400;
}

.happyclient {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media (max-width:1024px) {
    .herobody {
        margin-top: 3rem;
        margin-right: 5rem;
        margin-left: 5rem;
        margin-bottom: 3rem;
    }
    .heroimg img {
        max-width: 30%;
    }
    .heroimg {
        margin-top: 6rem;
        margin-bottom: 2rem;
    }
}

@media (max-width:480px) {
    .herobody {
        margin-top: 4rem;
        margin-right: 3rem;
        margin-left: 3rem;
        margin-bottom: 3rem;
    }
    .herobody h1 {
        font-size: 3rem;
    }
    .happyclient h1 {
        font-size: 4rem;
        font-weight: 700;
    }
    .happyclient p {
        font-size: 2.5rem;
        font-weight: 400;
    }
    .profile {
        padding-left: 2rem;
        padding-right: 1rem;
    }
    .heroimg img {
        max-width: 20%;
    }
    .heroimg {
        margin-top: 6rem;
        margin-bottom: 2rem;
    }
}