.search-input {
    background: #F9FAFB;
    border-radius: 8px;
    padding: 3px;
    width: fit-content;
    border: 1px solid #E7E7E7;
}

.input-search-style {
    border: none;
    background: #F9FAFB;
    margin-top: -3px;
    width: 100%;
}

.search-input:hover {
    border: 1px solid #cbd5e1;
}

.searchbar {
    margin-top: 14px;
    position: relative;
}

.clear {
    /* position: absolute; */
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #6B7280;
    margin: -10px;
    font-family: 'Rubik';
    font-weight: 300;
    left: 40.5%;
    height: 100%;
    background-color: transparent;
}

.search-icon {
    position: absolute;
    margin-left: 12px;
}

.icon-overriden {
    position: static;
    width: fit-content;
    margin-left: 12px;
}

@media screen and (max-width: 1080px) {
    .clear {
       left: 27%;
    }
}

@media screen and (max-width: 760px) {
    .clear {
       left: 80%;
    }
}


@media screen and (max-width: 400px) {
    .clear {
       left: 78%;
    }
}