.btn {
    background-color: #F46161;
}

.btn:hover {
    background-color: #F24141;
}

.btn:active {
    background-color: #EF2222
}

.btn-secondary {
    border: 1px solid #F46161;
    background-color: transparent;
}