.sidebar {
    font-family: 'Rubik';
}

.icon {
    padding-left: 0.5rem;
    padding-right: 1rem;
}

.barname {
    padding: 0.1rem;
}

.bar {
    background-color: #FFF0DE;
    ;
}

.p {
    font-size: 10px;
}

.navitem li {
    display: grid;
    text-decoration: none;
}

.branch {
    color: #B1464A;
    font-size: 12px;
}

.nav-link {
    display: flex;
    justify-items: center;
    color: #646464;
    background-color: #FFF0DE;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 0.3rem;
    padding-left: 0.3rem;
    font-size: 14px;
}

.active {
    display: flex;
    color: rgb(255, 255, 255);
    background-color: #B1464A;
}

.nav-link:hover {
    color: #646464;
    background-color: #E5C1C3;
}

.nav-link:visited {
    color: #646464;
}

.active:visited {
    color: white;
}

.active:hover {
    color: #646464;
}

.button-menu {
    padding: 0.5rem;
    background-color: transparent;
    text-decoration: none;
    border-style: none;
    display: none;
}

.logo-sidebar {
    width: 180px;
    height: 180px;
    padding: 2rem;
}

.button-menu:hover {
    background-color: #e9e9e9;
}

.modal-sidebar .modal {
    padding: 0;
}

.modal-sidebar .modal-dialog {
    margin: 0;
    width: 60%;
    background-color: #FFF0DE;
}

.modal-sidebar .modal-header {
    align-items: start;
}

.modal-sidebar .modal-content {
    background-color: #FFF0DE;
}

.modal-sidebar .modal-footer {
    padding: 1rem;
    margin-bottom: 2rem;
}

.menu {
    display: none;
}

.logo-menu {
    display: none;
}

@media (max-width: 1080px) {
    .barname {
        display: none;
    }
    .sidebar {
        width: 7%;
    }
    .navitem li {
        display: block;
    }
    .manage {
        display: none;
    }
    .logo-sidebar {
        width: 60px;
        height: 60px;
        padding: 0.5rem;
        text-align: start;
    }
    .branch {
        display: none;
    }
    .modal-sidebar .modal {
        display: none;
    }
}

@media (max-width: 992px) {
    .modal-sidebar .modal-body .barname {
        display: flex;
    }
    .modal-sidebar .modal-header .logo-sidebar {
        width: 80px;
        height: 80px;
        padding: 0.5rem;
    }
    .sidebar {
        display: none;
    }
    .menu {
        display: flex;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
        background-color: #FFF0DE;
    }
    .button-menu {
        display: block;
    }
    .logo-menu {
        padding: 0.5rem;
        width: 50px;
        height: 50px;
        align-self: center;
        display: block;
    }
    .branch {
        display: block;
    }
}