.label-style p {
    font-size: 12px;
}

.label-style {
    display: flex;
    padding: 2px 9px;
    font-size: 12px;
    border-radius: 16px;
    /* line-height: 20px; */
    text-align: center;
    align-items: center;
    font-family: 'Rubik';
    width: fit-content;
}

.gold-style {
    background: #FC8517;
    color: #141414;
}

.silver-style {
    background: #D8D8D8;
    color: #141414;
}

.bronze-style {
    background: #442101;
    color: white;
}