@import url('https://fonts.googleapis.com/css2?family=Istok+Web:wght@400;700&family=Rubik:wght@300;400;700&display=swap');
body {
    font-family: 'Rubik', sans-serif;
}

.login {
    position: relative;
    background-color: #F24141;
    height: 100vh;
    &::before {
        content: '';
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        background-image: url(../../assets/img/imglogin-logo.png);
        background-repeat: no-repeat;
        background-size: 35%;
        background-position: top start;
        opacity: 0.2;
    }
}

.login-Img {
    position: relative;
    padding-left: 0;
}

.loginImg {
    margin-top: 2.1rem;
    margin-bottom: 2.1rem;
}

.img-fluid {
    max-width: 60%;
}

.login-Form {
    background-color: rgba(254, 254, 254, 0.95);
    padding: 3rem;
    padding-top: 2rem;
    height: 100vh;
}

.btn-showpass {
    text-decoration: none;
    color: #9095A0;
}

@media all and (min-width: 1024px) and (max-width: 1280px) {}

@media all and (min-width: 768px) and (max-width: 1024px) {}

@media all and (min-width: 480px) and (max-width: 768px) {}

@media all and (max-width: 480px) {}