.login {
    font-family: 'Rubik', sans-serif;
    position: relative;
    background-color: #F24141;
    min-height: 100vh;
    &::before {
        content: '';
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        background-image: url(../../assets/img/imglogin-logo.png);
        background-repeat: no-repeat;
        background-size: 40%;
        background-position: top start;
        opacity: 0.2;
    }
}

.login-Img {
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 0;
}

.loginImg {
    display: flex;
    align-items: center;
}

.img-fluid {
    max-width: 80%;
}

.login-Form {
    background-color: rgba(254, 254, 254, 0.95);
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btn-showpass {
    text-decoration: none;
    color: #9095A0;
}

.login-Title {
    font-size: calc(2rem + 1.5vw)
}

.loader-container-login {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }