.content {
    padding: 0;
}

@media (max-width: 1080px) {
    .content {
        width: 93%;
    }
}

@media (max-width: 992px) {
    .content {
        width: 100%;
        padding-top: 1.5rem;
    }
}